@font-face{
	font-family: HelveticaNeue;
	src: url(HelveticaNeue.otf);
}

@font-face{
    font-family: HelveticaNeue-Light;
    src: url(helveticaneuecyr-light.otf);
}

@font-face{
    font-family: HelveticaNeue-Medium;
    src: url(HelveticaNeue-Medium.otf);
}

@-moz-document url-prefix(){
	.twitter__slider-wrapper{
		text-align: center;
		padding-top: 20px;
	}
}

.info__pic{
	display: block;
	width: 320px;
	height: 280px;
	float: left;
	margin-top: 60px;
}

.border{
	height: 2px;
	background: #ccd0d2;
	margin: 25px auto; 
	-webkit-transition: background .8s; 
	-moz-transition: background .8s; 
	-o-transition: background .8s; 
    transition: background .8s;
}

.social{
	width: 140px;
	height: 32px;
}

.social__item{
	float: left;
}

.social__facebook{
	background: url(../img/social.png) no-repeat;
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 22px; 
}

.social__twitter{
	background: url(../img/social.png) -54px 0 no-repeat;
	display: block;
	width: 32px;
	height: 32px;
	margin-right: 22px; 
}

.social__google{
	background: url(../img/social.png) -108px 0 no-repeat;
	display: block;
	width: 32px;
	height: 32px;
}


body{
	font-family: "HelveticaNeue-Light";
}

.content-centered{
	width: 1200px;
	background: #fff;
	margin: 0 auto;
}

.top{
	width: 940px;
	margin: 0 auto;
}

.header{
	width: 940px;
	height: 168px;
	border-bottom: 2px solid #e4e7e7;
}

.header__line{
	position: relative;
	top: 50px;
	float: left;
	margin: 0;
}

.header__logo{
	position: relative;
}

.header__social{
	position: relative;
	top: 69px;
	float: right;
}

.header__social li{
	float: left;
	list-style: none;
}

.top__title{
	font-size: 30px;
	color: #2b414d;
	text-align: center;
	margin: 0;
	padding: 60px 0 60px 0;
	line-height: 40px;
}

.slider{
	display: block;
	width: 940px;
	margin: 0 auto;
}

.slider__pic{
	border-radius: 5px;
}

.features{
	width: 940px;
	height: 394px;
	border-bottom: 2px solid #e4e7e7;
	margin: 0 auto;
	font-size: 18px;
}

.features__item{
	width: 250px;
	text-align: center;
	float: left;
	color: #777c7f;
	font-size: 14px;
	font-family: "HelveticaNeue-Light";
	padding-top: 90px;
}

.features__item:hover > .border{
	background: #e2574c;
}

.features__item_1,
.features__item_3{
	margin-left: 20px;
	margin-right: 20px;
}

.features__item_2{
	margin-left: 55px;
	margin-right: 55px;
}

.features__title{
	color: #2b414d;
	padding-top: 35px;
	text-transform: uppercase;
	font-family: "HelveticaNeue";
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin-top: 0;
}

.features__border{
	width: 22px;
	-webkit-transition: width .8s; 
	-moz-transition: width .8s; 
	-o-transition: width .8s; 
    transition: width .8s;
}

.features__text{
	text-align: center;
	font-size: 14px;
	line-height: 21px;
}

.content{
	width: 940px;
	height: 455px;
	border-bottom: 2px solid #e4e7e7;
	margin: 0 auto;
}

.content__pic{
	display: block;
	width: 320px;
	height: 280px;
	float: left;
	margin-top: 60px;
}

.slider__i{
	display: block;
	width: 320px;
	height: 280px;
}

.content__title{
	width: 560px;
	color: #2b414d;
	font-size: 38px;
	font-family: "HelveticaNeue-Light";
	display: inline-block;
	margin-top: 90px;
	margin-left: 60px;
}

.content__article{
	width: 521px;
	color: #777c7f;
	font-size: 17px;
	line-height: 1.5;
	display: inline-block;
	margin-left: 60px;
	margin-top: 0;
	margin-bottom: 30px;
}

.content__text{
	display: block;
	width: 600px;
	float: left;
}

.article_1{
	width: 521px;
}

.article_2{
	width: 538px;
}

.info{
	width: 940px;
	height: 450px;
	margin: 0 auto;
}

.info_l{
	width: 560px;
	display: block;
	float: left;
}

.info__title_l{
	margin-top: 0;
	padding-top: 88px;
	color: #2b414d;
	font-size: 38px;
	font-family: "HelveticaNeue-Light";
}

.info__text_l{
	width: 560px;
	padding-bottom: 30px;
	font-size: 17px;
	color: #777c7f;
	line-height: 1.5;
}

.info__btn_l{
	display: block;
	width: 180px;
	height: 47px;
	background: #e2574c;
	color: #fff;
	outline: none;
	border: 1px solid #e2574c; 
	border-radius: 5px;
	margin-right: 30px;
	font-size: 18px;
	font-family: "HelveticaNeue";
	float: left;
	-webkit-transition: background .8s; 
	-moz-transition: background .8s; 
	-o-transition: background .8s; 
    transition: background .8s;
}

.info__btn_l:hover{
	background: #A92318;
	border: 1px solid #A92318;
}

.info__get_l{
	display: block;
	height: 47px;
	color: #2b414d;
	font-size: 18px;
	font-family: "HelveticaNeue";
	float: left;
}

.info__get_span{
	color: #e2574c;
	margin-left: 20px;
	cursor: pointer;
}

.info_r{
	display: block;
	width: 320px;
	height: 280px;
	float: right;
}

.follow-slider{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

@media screen and (max-width: 1200px){
	.twitter{
		width: 100%;
	}
}

.follow-slider__i{
	display: block;
	width: 100%;
}

.follow-slider__item{
	width: 100%;
	height: 460px;
	background: #f8f8f8;
	line-height: 1.5;
}

.follow-slider__img{
	padding-top: 90px;
	padding-bottom: 60px;
	margin: 0 auto;
}

.follow-slider__text{
	color: #2b414d;
}

.follow-slider__link{
	color: #2b414d;
}

.follow-slider__signature{
	color: #777c7f;
}

.follow-slider__signature>span{
	color: #e2574c;
}

.footer{
	width: 100%;
	background: #fff;
	text-align: center;
	margin: 0 auto;
}

.footer__social li{
	float: left;
	list-style: none;
}

.footer__background{
	position: relative;
	bottom: -3px;
	margin-bottom: 0;
}

@media screen and (max-width: 1200px){
	.footer{
		width: 100%;
	}

	.footer__background{
		width: 100%;
	}
}

.footer__title{
	color: #2b414d;
	font-size: 38px;
	font-family: "HelveticaNeue";
	padding-top: 105px;
	padding-bottom: 65px;
}

.footer__field{
	width: 380px;
	height: 43px;
	background: #f8f8f8;
	padding-left: 15px;
	border: 2px solid #ececec;
	border-radius: 5px;
	font-size: 18px;
	font-family: "HelveticaNeue-Light";
	outline: none;
}

.footer__btn{
	background: #e2574c;
	width: 160px;
	height: 47px;
	border: 1px solid #e2574c;
	border-radius: 5px;
	outline: none;
	font-size: 18px;
	color: #fff;
	margin-left: 15px;
	-webkit-transition: background .8s; 
	-moz-transition: background .8s; 
	-o-transition: background .8s; 
    transition: background .8s;
}

.footer__btn:hover{
	background: #A92318;
	border: 1px solid #A92318;
}

.footer__btn:after{
	content: "Subscribe now";
}

.footer__text{
	color: #777c7f;
	font-size: 17px;
	margin-top: 35px;
	line-height: 1.5;
}

.footer__border{
	width: 50px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.footer__social{
	margin: 0px auto;
}

.footer__background{
	width: 100%;
}

@media screen and (max-width: 940px) {
	.top,.features,.content,.info{
		width: 100%;
	}

	.slider{
		width: 90%;
	}

	.header{
		width: 800px;
		margin: 0 auto;
	}

	.features__item{
		width: 220px;
	}

	.content__slider,.info__title_l,.info__text_l{
		padding-left: 30px;
	}

	.content__pic{
		margin-top: 60px;
		margin-left: 40px;
	}

	.content__article{
		width: 100%;
	}

	.content__text{
		width: 450px;
	}

	.content__title{
		width: 90%;
	}

	.article-1,.article-2,.info__text_l{
		width: 80%;
	}

	.info_l{
		width: 450px;
	}

	.info__btn_l{
		margin-left: 30px;
	}

	.info_r{
		margin-right: 30px;
	}

	.footer{
		height: 100%;
	}


}

@media screen and (max-width: 800px) {
	.top,.features,.content,.info{
		width: 100%;
	}

	.slider{
		width: 90%;
	}

	.header{
		width: 700px;
		margin: 0 auto;
	}

	.top__title{
		padding-left: 30px;
		padding-right: 30px;
	}

	.features__item{
		width: 190px;
	}

	.content{
		height: 100%;
		overflow: hidden;
	}

	.content__slider,.info__title_l,.info__text_l{
		padding-left: 30px;
	}

	.content__text{
		width: 300px;
	}

	.content__title{
		width: 250px;
	}

	.content__article{
		margin-bottom: 17px;
	}

	.article-1,.article-2,.info__text_l{
		width: 260px;
		padding-right: 30px;
	}

	.info{
		height: 100%;
		overflow: hidden;
	}

	.info_l{
		width: 350px;
	}

	.info__btn_l{
		margin-left: 30px;
	}
	
	.info__get_l{
		padding-left: 30px;
	}

	.info_r{
		margin-right: 30px;
	}

	.footer{
		height: 100%;
	}

}

@media screen and (max-width: 750px) {
	.top,.features,.content,.info{
		width: 100%;
	}

	.slider{
		width: 90%;
	}

	.header{
		width: 600px;
		margin: 0 auto;
	}

	.features{
		height: 100%;
		overflow: hidden;
	}

	.features__item{
		width: 100%;
	}

	.info__title_l,.info__text_l{
		padding-left: 30px;
	}

	.content{
		height: 100%;
		overflow: hidden;
		text-align: center;
	}

	.content__slider{
		display: block;
		width: 320px;
		height: 280px;
		float: none;
		margin: 60px auto 40px auto;
	}

	.content__text{
		width: 100%;
	}

	.content__title{
		width: 370px;
		margin: 60px auto;
	}

	.content__article{
		margin-bottom: 17px;
	}

	.info__text_l{
		width: 100%;
	}

	.article-1{
		width: 85%;
	}

	.article-2{
		width: 85%;
		padding-right: 0x;
	}

	.info{
		height: 100%;
		overflow: hidden;
	}

	.info_l{
		width: 100%;
		display: block;
		text-align: center;
	}

	.info__text_l{
		width: 85%;
	}

	.info__btn_l{
		margin-left: 120px;
	}
	
	.info__get_l{
		padding-left: 30px;
	}

	.info_r{
		display: block;
		width: 320px;
		height: 280px;
		float: none;
		margin: 60px auto 40px auto;
	}

	.footer{
		height: 100%;
	}


}


@media screen and (max-width: 600px) {
	.top,.features,.content,.info{
		width: 100%;
	}

	.slider{
		width: 90%;
	}

	.header{
		width: 500px;
		margin: 0 auto;
	}

	.features{
		height: 100%;
		overflow: hidden;
	}

	.info__title_l,.info__text_l{
		padding-left: 30px;
	}

	.content{
		height: 100%;
		overflow: hidden;
		text-align: center;
	}

	.content__slider{
		display: block;
		width: 320px;
		height: 280px;
		float: none;
		margin: 60px auto 40px auto;
	}

	.content__title{
		width: 370px;
		margin: 60px auto;
	}

	.content__article{
		margin-bottom: 17px;
	}

	.info__text_l{
		width: 100%;
	}

	.article-1{
		width: 85%;
	}

	.article-2{
		width: 85%;
		padding-right: 50px;
	}

	.info{
		height: 100%;
		overflow: hidden;
	}

	.info_l{
		width: 100%;
		display: block;
		text-align: center;
	}

	.info__text_l{
		width: 85%;
	}

	.info__btn_l{
		margin-left: 60px;
	}
	
	.info__get_l{
		padding-left: 30px;
	}

	.info_r{
		display: block;
		width: 320px;
		height: 280px;
		float: none;
		margin: 60px auto 40px auto;
	}

	.footer{
		height: 100%;
	}

	.footer__field{
		width: 260px;
	}

	.footer__btn{
		width: 100px;

	}
content__pic
	.footer__btn:after{
		content: "Subscribe";
	}

}
